.jumbotron {
     height: 250px;
     color:aliceblue;
     background-color: cadetblue;
     display: flex;
     align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    
}