.form-group {
    padding-left:50px;
    padding-right:50px;
    padding-bottom: 10px;;
}

.btn-primary{
    color:rgb(131, 9, 9);
    background-color: rgb(77, 75, 75);
    border: none;
    box-shadow: none;
}

.btn-primary:hover {
    color: rgb(78, 76, 76);
    background-color:rgb(247, 245, 241);
    cursor:pointer;
}